/* --------------------------------------------------------------------------------- */
/*#region GENERAL DEFAULTS  */
body {
    font: var(--fontweight-default) var(--fontsize-default) var(--fontfamily-default);
    background-color: var(--clr-secondary);
    color: var(--clr-white);
}
/*#endregion GENERAL DEFAULTS  */
/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/*#region UTILITIES */ 
/* ------------------------------------------ */
/*#region containers */
.container-100 {
    min-width: 100%;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 35rem;
}

/* ------------------------------------------ */
/*#region aesthetic elements */
.flow > * + * {
    margin-top: var(--flow-spacing);
}
/*#endregion aesthetic elements */

/* ------------------------------------------ */
/*#region flex */
.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}
/*#endregion flex */

/* ------------------------------------------ */
/*#region shapes */
.shape-circle {
    aspect-ratio: 1 / 1;
    border-radius: 100vh;
    border-color: transparent;
}

.shape-square {
    aspect-ratio: 1 / 1;
}
/*#endregion shapes */

/* ------------------------------------------ */
/*#region colors */
.bg-ss-1 {
    background-color: var(--clr-ss-1);
}

.bg-ss-2 {
    background-color: var(--clr-ss-2);
}

.bg-ss-3 {
    background-color: var(--clr-ss-3);
}

.bg-ss-4 {
    background-color: var(--clr-ss-4);
}
/*#endregion colors */
/*#endregion UTILITIES */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region COMPOSITION */

/*#endregion COMPOSITION */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region BLOCKS: component specific rules */
.simon-says {
    gap: 1.6rem;
    overflow: hidden;

    position: relative;
}

.simon-says_blocks {
    width: calc(100% / 2 - .8rem);
    cursor: pointer;
    opacity: .5;
}

.simon-says_blocks.active {
    transform: scale(1.1);
    opacity: 1;
}

.center-button {
    position: absolute;
        top: 50%;
        left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr-secondary);
    width: 40%;
    overflow: hidden;
}

.simon-says_btn {
    min-width: 100%;
    min-height: 100%;
    background-color: var(--clr-secondary);
    color: var(--clr-white);
    border-color: transparent;
    cursor: pointer;
    display: none;
}

.simon-says_btn.active {
    display: block;
}

/*#endregion BLOCKS: component specific rules */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region MEDIA QUERIES */
@media (hover) {
    .simon-says_blocks.started:hover {
        transform: scale(1.1);
        opacity: 1;
    }

    .simon-says_btn:hover {
        background-color: var(--clr-white);
        color: var(--clr-dark-grey);
    }
}
/*#endregion MEDIA QUERIES */
/* --------------------------------------------------------------------------------- */